body {
  text-align: center;
  background: rgb(124, 218, 171);
  font-family: Roboto, sans-serif;
  font-weight: 100;
}

img {
  display: block;
  max-width: 400px;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  width: 400px;
  list-style-type: none;
}

h2 {
  color: #396;
  font-size: 40px;
}
p {
  font-weight: 100;
  font-size: 30px;
  margin: 20px 0px 20px;
}
span {
  font-weight: bold;
}

li {
  margin-bottom: 10px;
  text-align: center;
}

.tag-list {
  text-align: center;
  width: auto;
}

.text-column {
  width: 400px;
}
.image-column {
  margin-top: 30px;
}

.result {
  display: flex;
  justify-content: center;
}
.form-container {
  margin-top: 50px;
}

.form-field {
  position: relative;
  margin-top: 50px;
}

.form-field__input {
  width: 100%;
  max-width: 370px;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:focus {
  border: 1px solid #2196f3;
}

.form-field__input:focus + .form-field__icon {
  fill: #2196f3;
}

.form-field__input:not(:placeholder-shown):valid {
  border-color: #2196f3;
}

.form-field__input:not(:placeholder-shown):invalid {
  border-color: red;
}

.form-field__input:required:valid + .form-field__icon {
  fill: #2196f3;
}
